@reference "tailwindcss";

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10dvh 1fr;
  @apply h-screen w-screen;
}
.main > nav {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}
.main > header {
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  @apply lg:row-[1/-1];
}
@keyframes scroll-down {
  from {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.animation_scroll {
  opacity: 1;
  animation: scroll-down 8s infinite ease-out;
}
.animation_scroll_delay > *:nth-child(1) {
  animation-delay: 0;
}
.animation_scroll_delay > *:nth-child(2) {
  animation-delay: 1s;
}
.animation_scroll_delay > *:nth-child(3) {
  animation-delay: 2s;
}
