@import "tailwindcss";

.dark {
  --background: hsl(0, 0%, 5%);
  --text: hsl(0, 0%, 95%);
}

.light {
  --background: hsl(0, 0%, 90%);
  --text: hsl(0, 0%, 0%);
}
@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary-50: hsl(200, 100%, 90%);
  --color-primary-100: hsl(200, 100%, 80%);
  --color-primary-200: hsl(200, 100%, 70%);
  --color-primary-300: hsl(200, 100%, 60%);
  --color-primary-400: hsl(200, 100%, 50%);
  --color-primary-500: hsl(200, 100%, 40%);
  --color-primary-600: hsl(200, 100%, 30%);
  --color-primary-700: hsl(200, 100%, 20%);
  --color-primary-800: hsl(200, 100%, 10%);
  --color-primary-900: hsl(200, 100%, 5%);
  --color-accent-50: hsl(223, 100%, 90%);
  --color-accent-100: hsl(223, 100%, 80%);
  --color-accent-200: hsl(223, 100%, 70%);
  --color-accent-300: hsl(223, 100%, 60%);
  --color-accent-400: hsl(223, 100%, 50%);
  --color-accent-500: hsl(223, 100%, 40%);
  --color-accent-600: hsl(223, 100%, 30%);
  --color-accent-700: hsl(223, 100%, 20%);
  --color-accent-800: hsl(223, 100%, 10%);
  --color-accent-900: hsl(223, 100%, 5%);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-main);
}
