PORT=3001
DB_URL=mongodb://myuser:mypassword@mongodb:27017/mydb
JWT_SECRET=super_secret_key_to_sign_auth_tokens
FROM_EMAIL=service@liviko.com
RESEND_KEY=resend_api_key_if_you_dont_have_it...probably_you_wont_need_it
BASE_URL=""
